:root {
    --text-color: #DBE4EF;
    --card-front-color: #ffffff;
    --card-back-color: #4f76a5;
}

body {
    background: url('img/imagem\ de\ fundo.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Bai Jamjuree', sans-serif;
}

#container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem; /* Mantendo a altura dos cartões */
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    perspective: 1000px; /* Para permitir o efeito 3D */
    border-radius: 10px;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    border-radius: 20px;
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 2rem;
    color: #144480;
}

.cartao__conteudo__pergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.cartao__conteudo__pergunta img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover; /* Altera para 'cover' para que a imagem preencha o espaço sem distorcer */
    border-radius: 10px;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: rgba(0, 244, 191, 0.2);
    border: 4px solid var(--card-back-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}
 

header {
    background-color: #4f76a5; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 2rem; /* Espaço entre o cabeçalho e o contêiner */
    border-radius: 10px; /* Bordas arredondadas do cabeçalho */
}

header h2 {
    background-color: #4f76a5;
    font-size: 1.5rem; /* Tamanho da fonte do segundo cabeçalho */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin: 0; /* Remove a margem padrão */
    padding: 0.5rem 0; /* Espaçamento interno */
}

.nomenclatura {
    background-color: #f0f4c3; /* Altere para a cor desejada */
    padding: 1rem; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    border-radius: 8px; /* Arredondar bordas, se desejado */
    margin: 2rem 0; /* Espaço acima e abaixo */
}

.nomenclatura h3 {
    font-size: 1.2rem; /* Tamanho da fonte do novo texto */
    color: #144480; /* Cor do texto */
    margin: 0; /* Remove a margem padrão */
}


@media (max-width: 560px) {
    body {
        background: url('img/Mobile.png') no-repeat center center fixed;
        background-size: cover;
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem);
    }

    .cartao__conteudo__pergunta img {
        max-width: 80%; /* Ajusta o tamanho da imagem em dispositivos móveis */
    }
}
